<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.choijh.subwayapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE " />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launch_icon"
        android:label="오즈"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".subway_lost_property" />
        <activity android:name=".subway_favorites" />
        <activity android:name=".common_setting" />
        <activity
            android:name=".Subway_main"
            android:label="오즈"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bus_main"
            android:label="@string/title_activity_bus_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="61d3254080b5d9424b98a292a7984c8e" />

        <activity
            android:name=".Subway_search"
            android:label="@string/title_activity_subway_search"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>